In [1]:
import pandas as pd
import re
import json
import time as tm
from datetime import datetime
from oauth2client.service_account import ServiceAccountCredentials
from gcloud import storage
from ftplib import FTP
from glob import glob

def uploadjson(file, filename):
    credentials_dict = {
        'type': 'service_account',
        'client_id': "110677326745099597758",
        'client_email': 'cna-flask-project@appspot.gserviceaccount.com',
        'private_key_id': 'afc2c0eb7f067837400bf1dfa2b7d9db8efc5d80',
        'private_key': "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCx9pYsyRNhst55\nutGjnslD5j0v+ZW7Het34MkbCcQL1NPPKxccMLa30J8gE9uMBDGPLrDwzyFTSOhF\n3BIGhsnILks5E7nPWmUUy601lJkfBWE3rS0OcCs2/cntNwDhf/ng1sj3Jdi6PUVo\nydefKeA+2Ii41JRFtfXWlqAFhP3qrNxsx2ZPGB7/cUfm7gPHDheT9XRUQPuzHfYX\nFznPm2wmsLpJ3aEYW/SxCOmSVehhbj8bC53GFgyTxmZgvBqL4ZYsslKarl6fNemG\nduiNV04z0rNzHpEkuejnaldPRTfL+FqYglvUB0TswFoca1ZCYwPp4XM5F+LvSYsm\na1eXY6qtAgMBAAECggEAC5McsFwBoTSXiLZQZUJyF7L1XtXuWaW4B2t82P/ZGuXk\nQtCsJ565e5obh2QTPveU25mvU3I9WiPfS4/lMjx5CkaMiPFR//0CnwgiQ15fWSep\n64udZxd/kAuQoxeVPJVsxKVjm8N/5ZkPlyGtnwIDvkKqHc9ht2j+zM6uKL2+IBGz\nK/qHiA/ZHDrprknkTD4oKr3TU+0gbRN9bUgNDeCDaA1hruLhKikYo2h2Q/wsqPwd\nny//ZNsN/TYhrCKXRtsj95iC+Hg5slJKRxwijMahgqy/vatY+XHmbqrCOZelylNZ\n4jphmXU2VaLrgqXn68HwOp5PbLLvXMr8auKjUjzFUQKBgQDwey9d8d3cEJw4Pqvs\nkWhJv19hXoz5CyHhlDnbWsFHoT2Si4iV8M/ugk+wLiyerF4Mdo0TecUv/N56CWsM\n6EffaRanqB5vdO2ynLnMnrrZN0Gdypreb/ZbR07lF/gUT/nNev3awdqRVBP4+ckV\nex8Uw/uRX9TK4nYSuZ9PHD4vxQKBgQC9cpZ4dUnOahnsexb2nqIGl4l80/ujoZfu\noL7HacwaGOBjRoqc4mde1C3ZABO/iGSiRfweM4t1TXoc6ZqKUvJXURPXVPySAuoY\nvVSgoxOYnPASikUEqyl66cH3Gs+nMdA7wtfYjltwjMvmwv7UTXmRPjB49KhCUVUB\nGJ8Yy2EVyQKBgECYlkyh33pxa8Uf8IaHOIA2y6QYBb4P43X4nuHxKuHWyfdHS9Ua\n7n+euVEV1h55JnoqjhKhLvqI7inRxdOdwVCdpdw7KJG/0umbd70jFgWq9hEwjxEY\n+g/iw6p+GcE7ClrLoszULaXD8+l5Dy6Z9+tYCYcvOrWUxyqYedaCO6IRAoGBAKdO\nC+6jfiPJdc1vQu9XVrXFnAjeWKvAaKG32ePX3gTqFTf3MzCrjSik7zxlogsTE/Rv\nI+E0GiPk4UOpVe50pEpScthG2KrF4iEpCxS2D/dGGYn2DE+8LOy8hayJQ/tetYwh\nXWeFCOHTpbrMWCn7pbGMH1iij/nJQ+2s5cwKyFlpAoGBAJlAxteQm+1DSIFmkArp\n5NwrM3q0IwBrjCoCbuHB8ch0SqJq1X/m9WCtX2OQVgFlEVC2KcpIpNfgIR/YfV6l\nQPte4h4M0+oUzq2GP5WtobYb4VlsSthelq7Jbkc9VjTr/aMb3Ww84l46+oeoKiKJ\nrkrBvrVGAUzsucEHGcfyDt8i\n-----END PRIVATE KEY-----\n",
    }
    credentials = ServiceAccountCredentials.from_json_keyfile_dict(
        credentials_dict
    )
    client = storage.Client(credentials=credentials, project='cna-flask-project')
    bucket = client.get_bucket('cna-flask-project.appspot.com')
    blob = bucket.blob('2020recall/{}.json'.format(filename))
    blob.upload_from_string(file, content_type='application/json')

In [11]:
with open('running.json','r') as json_file:
    final = json.load(json_file)

df = pd.DataFrame.from_dict(final['TD'],orient='columns')
df['tboxNo']  = df['tboxNo'].astype('str')
df['deptbox'] = df['prvCode']+df['cityCode']+df['deptCode']
lookup =  pd.read_excel('citycodes.xlsx', dtype='str')
df

,prvCode,cityCode,areaCode,deptCode,liCode,tboxNo,candTksInfo,prof1,prof2,prof3,prof4,prof5,prof6,prof7,profRate,deptTot,deptRcv,tboxTot,tboxRcv,deptbox
0,09,007,None,010,None,None,"[{'candNo': 1, 'tks': 4917, 'candVictor': '*',...",4917,225,5142,0,5142,1927,7069,72.74,1,1,5,5,09007010
1,09,007,None,020,None,None,"[{'candNo': 1, 'tks': 1222, 'candVictor': '*',...",1222,19,1241,1,1242,706,1948,63.71,1,1,2,2,09007020
2,09,007,None,030,None,None,"[{'candNo': 1, 'tks': 501, 'candVictor': '*', ...",983,49,1032,0,1032,418,1450,71.17,1,1,2,2,09007030
3,09,007,None,040,None,None,"[{'candNo': 1, 'tks': 667, 'candVictor': '*', ...",667,15,682,0,682,438,1120,60.89,1,1,1,1,09007040
4,09,020,None,010,None,None,"[{'candNo': 1, 'tks': 5233, 'candVictor': ' ',...",29148,939,30087,8,30095,12916,43011,69.95,1,1,24,24,09020010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,64,000,None,370,None,None,"[{'candNo': 1, 'tks': 1017, 'candVictor': '*',...",2013,66,2079,5,2084,1200,3284,63.31,1,1,8,8,64000370
200,64,000,None,380,None,None,"[{'candNo': 1, 'tks': 220, 'candVictor': ' ', ...",1520,49,1569,2,1571,658,2229,70.39,1,1,4,4,64000380
201,65,000,None,290,None,None,"[{'candNo': 1, 'tks': 1116, 'candVictor': '*',...",3531,122,3653,4,3657,1480,5137,71.11,1,1,7,7,65000290
202,66,000,None,290,None,None,"[{'candNo': 1, 'tks': 2041, 'candVictor': '*',...",5492,211,5703,6,5709,2826,8535,66.82,1,1,17,17,66000290
203,68,000,None,130,None,None,"[{'candNo': 1, 'tks': 2001, 'candVictor': ' ',...",6581,221,6802,4,6806,3146,9952,68.35,1,1,11,11,68000130

In [12]:
df[df['prvCode']=='66']

,prvCode,cityCode,areaCode,deptCode,liCode,tboxNo,candTksInfo,prof1,prof2,prof3,prof4,prof5,prof6,prof7,profRate,deptTot,deptRcv,tboxTot,tboxRcv,deptbox
202,66,000,None,290,None,None,"[{'candNo': 1, 'tks': 2041, 'candVictor': '*',...",5492,211,5703,6,5709,2826,8535,66.82,1,1,17,17,66000290

,prvCode,cityCode,areaCode,deptCode,liCode,tboxNo,candTksInfo,prof1,prof2,prof3,prof4,prof5,prof6,prof7,profRate,deptTot,deptRcv,tboxTot,tboxRcv,deptbox
0,09,007,01,None,None,None,"[{'candNo': 1, 'tks': 543, 'candVictor': '*', ...",4165,107,4272,1,4273,2191,6464,66.09,1,1,5,5,NaN
1,09,007,01,010,None,None,"[{'candNo': 1, 'tks': 543, 'candVictor': '*', ...",4165,107,4272,1,4273,2191,6464,66.09,1,1,5,5,09007010

In [36]:
df1 = pd.merge(df ,lookup, left_on="deptbox", right_on ='districtfull', how='right')
#df1 = df1.groupby(['deptbox']).sum().reset_index()
df1['agreeTks'] = [0 for i in range(len(df1))]
df1['disagreeTks'] = [0 for i in range(len(df1))]
df1['agreeRate'] = [0 for i in range(len(df1))]
df1['prof2'] =  [0 for i in range(len(df1))]
df1['disagreeRate'] = [0 for i in range(len(df1))]
color = ['#272727','#3C3C3C','#4F4F4F','#5B5B5B','#6C6C6C','#8E8E8E','#ADADAD','#D0D0D0','#F0F0F0']
dcolor = []
for i in df1['agreeRate']:
    if i < 11:
        dcolor.append(color[0])
    elif i < 16:
        dcolor.append(color[1])
    elif i < 21:
        dcolor.append(color[2])
    elif i < 26:
        dcolor.append(color[3])
    elif i < 31:
        dcolor.append(color[4])
    elif i < 36:
        dcolor.append(color[5])
    elif i < 41:
        dcolor.append(color[6])
    elif i < 46:
        dcolor.append(color[7])
    else:
        dcolor.append(color[8])
df1['DistrictColor'] = dcolor
df1

,prvCode,cityCode,deptCode,tboxNo,agreeTks,agreeRate,disagreeTks,disagreeRate,adptVictor,prof1,...,tboxRcv,ytpRate,prgRate,deptbox,pcode,County,City,districtfull,Name,DistrictColor
0,00,000,000,0,0,0,0,0,N,12625101,...,17649,30.61,100.0,00000000,00,000,000,00000000,全國,#272727
1,09,000,000,0,0,0,0,0,N,89929,...,101,30.38,100.0,09000000,09,000,000,09000000,福建省,#272727
2,10,000,000,0,0,0,0,0,N,3828354,...,6324,30.66,100.0,10000000,10,000,000,10000000,臺灣省,#272727
3,63,000,000,0,0,0,0,0,N,1352926,...,1755,30.59,100.0,63000000,63,000,000,63000000,臺北市,#272727
4,64,000,000,0,0,0,0,0,N,1484261,...,2025,30.54,100.0,64000000,64,000,000,64000000,高雄市,#272727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,68,000,090,0,0,0,0,0,N,61990,...,75,29.31,100.0,68000090,68,000,090,68000090,龍潭區,#272727
389,68,000,100,0,0,0,0,0,N,123728,...,140,30.88,100.0,68000100,68,000,100,68000100,平鎮區,#272727
390,68,000,110,0,0,0,0,0,N,28370,...,35,29.32,100.0,68000110,68,000,110,68000110,新屋區,#272727
391,68,000,120,0,0,0,0,0,N,38076,...,47,32.09,100.0,68000120,68,000,120,68000120,觀音區,#272727
392,68,000,130,0,0,0,0,0,N,10178,...,11,34.13,100.0,68000130,68,000,130,68000130,復興區,#272727

In [ ]:
df2 = df1[['', '', 'agreeTks', 'agreeRate', 'disagreeTks','disagreeRate','','DistrictColor']]
df2
df2.to_json('2020recall.json', orient='records')

In [7]:
running = glob('running-*.json')
cnt = 0
while 'final.json' not in glob('*.json'):
    loopbegin = datetime.now()
    print('======================='+loopbegin.strftime("%H:%M"))
    with open(f'running-{cnt}.json','r') as json_file:
        data = json.load(json_file)

    a = [i for i in data['CX'] if i['cityCode'] =='000' and i['deptCode']=='000'][0]

    with open('progress.json','w') as f:
        json.dump(a, f)

    file_path = 'progress.json'
    #with FTP('172.17.242.151','20090948','u0401006@CNA123') as ftp, open(file_path, 'rb') as file:
    with FTP('demo.cna.com.tw','u0401006','capo4188') as ftp, open(file_path, 'rb') as file:
        ftp.cwd('/20200605-recallvote/data')
        ftp.storbinary(f'STOR {file_path}', file)
    cnt += 1
    if cnt > 9:
        cnt = 0
    print('progress costs {}'.format(datetime.now()-loopbegin))

    print('now sleep {}s'.format(179-(datetime.now()-loopbegin).total_seconds()))
    tm.sleep(180-(datetime.now()-loopbegin).total_seconds())

with open('final.json','r') as json_file:
    final = json.load(json_file)

df = pd.DataFrame.from_dict(final['CX'],orient='columns')
df['tboxNo']  = df['tboxNo'].astype('str')
df['deptbox'] = df['deptCode']+df['tboxNo']
lookup = pd.read_csv('khd.csv', sep='\t',dtype='str')

df1 = pd.merge(df ,lookup, left_on="deptbox", right_on ='deptbox', how='left')
df1 = df1.groupby(['District','Village']).sum().reset_index()

df1['agreeRate'] = df1['agreeTks'] / df1['prof7'] * 100
df1['notInvolved'] = df1['prof4'] + df1['prof6']
df1['notInvolved'] = df1['notInvolved'].astype('int')
df1['notInvolved'] = df1['notInvolved'] / df1['prof7']*100
df1['prof2'] = df1['prof2'] / df1['prof7']*100
df1['disagreeRate'] = df1['disagreeTks'] / df1['prof7']*100

color = ['#272727','#3C3C3C','#4F4F4F','#5B5B5B','#6C6C6C','#8E8E8E','#ADADAD','#D0D0D0','#F0F0F0']
dcolor = []
for i in df1['agreeRate']:
    if i < 11:
        dcolor.append(color[0])
    elif i < 16:
        dcolor.append(color[1])
    elif i < 21:
        dcolor.append(color[2])
    elif i < 26:
        dcolor.append(color[3])
    elif i < 31:
        dcolor.append(color[4])
    elif i < 36:
        dcolor.append(color[5])
    elif i < 41:
        dcolor.append(color[6])
    elif i < 46:
        dcolor.append(color[7])
    else:
        dcolor.append(color[8])
df1['DistrictColor'] = dcolor
df2 = df1[['District', 'Village', 'agreeTks', 'agreeRate', 'disagreeTks','disagreeRate','prof2','notInvolved','DistrictColor']]

df2.to_json('2020recall.json', orient='records')

file_path = '2020recall.json'
#with FTP('172.17.242.151','20090948','u0401006@CNA123') as ftp, open(file_path, 'rb') as file:
with FTP('demo.cna.com.tw','u0401006','capo4188') as ftp, open(file_path, 'rb') as file:
    ftp.cwd('/20200605-recallvote/data')
    ftp.storbinary(f'STOR {file_path}', file)

In [8]:
with open('final.json','r') as json_file:
    final = json.load(json_file)

df = pd.DataFrame.from_dict(final['CX'],orient='columns')
df['tboxNo']  = df['tboxNo'].astype('str')
df['deptbox'] = df['deptCode']+df['tboxNo']
lookup = pd.read_csv('khd.csv', sep='\t',dtype='str')

df1 = pd.merge(df ,lookup, left_on="deptbox", right_on ='deptbox', how='left')
df1 = df1.groupby(['District','Village']).sum().reset_index()

df1['agreeRate'] = df1['agreeTks'] / df1['prof7'] * 100
df1['notInvolved'] = df1['prof4'] + df1['prof6']
df1['notInvolved'] = df1['notInvolved'].astype('int')
df1['notInvolved'] = df1['notInvolved'] / df1['prof7']*100
df1['prof2'] = df1['prof2'] / df1['prof7']*100
df1['disagreeRate'] = df1['disagreeTks'] / df1['prof7']*100

color = ['#272727','#3C3C3C','#4F4F4F','#5B5B5B','#6C6C6C','#8E8E8E','#ADADAD','#D0D0D0','#F0F0F0']
dcolor = []
for i in df1['agreeRate']:
    if i < 11:
        dcolor.append(color[0])
    elif i < 16:
        dcolor.append(color[1])
    elif i < 21:
        dcolor.append(color[2])
    elif i < 26:
        dcolor.append(color[3])
    elif i < 31:
        dcolor.append(color[4])
    elif i < 36:
        dcolor.append(color[5])
    elif i < 41:
        dcolor.append(color[6])
    elif i < 46:
        dcolor.append(color[7])
    else:
        dcolor.append(color[8])
df1['DistrictColor'] = dcolor
df2 = df1[['District', 'Village', 'agreeTks', 'agreeRate', 'disagreeTks','disagreeRate','prof2','notInvolved','DistrictColor']]

#df2.to_json('2020recall.json', orient='records')

In [38]:
df1[df1['Name'] == '全國']

,prvCode,cityCode,deptCode,tboxNo,agreeTks,agreeRate,disagreeTks,disagreeRate,adptVictor,prof1,...,tboxRcv,ytpRate,prgRate,deptbox,pcode,County,City,districtfull,Name,DistrictColor
0,00,000,000,0,0,0,0,0,N,12625101,...,17649,30.61,100.0,00000000,00,000,000,00000000,全國,#272727